<!DOCTYPE html>
<html>
<head>
    {{>header}}
    <link rel="stylesheet" href="/css/about.css">
</head>
<body class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to the HealthHive App!</h1>
        <p class="lead">The Healthy Lifestyle App is designed to help individuals create, manage, and achieve their personal goals in nutrition, fitness and overall well-being.</p>
        <hr class="my-4">
        <p>Our mission is to provide a user-friendly platform to track your progress, gain insights into your habits, and ultimately help you live a healthier and happier life.</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Return to Home</a></p>
    </div>
</body>
<footer>
    {{>footer}}
</footer>
</html>
